.container {
  display: flex;
  padding-top: 20vh;
  padding-bottom: 30vh;
  position: relative;
  background-color: transparent;
  isolation: isolate;
  justify-content: center;
  gap: 10rem;
}

.container * {
  background-color: transparent;
  color: var(--clr-text-primary);
}

.container h1 {
  font-size: 40px;
}
.container form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #d1f4f5;
  padding: 50px;
  border-radius: 15px;
}
.container form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container form button {
  border: none;
  background-color: grey;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.container form button:hover {
  background-color: black;
}
.container input {
  width: 300px;
  border: 2px grey solid;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
}

.container input:focus {
  outline: none;
}
