@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --clr-text-primary: rgb(66, 66, 66);
  --clr-text-muted: #7b776c;
  --clr-text-muted-extra: #8e8e8e;

  --clr-bg-primary: #fff8e4;
  --clr-bg-secondary: white;
  --clr-bg-footer: #fff2ce;

  --clr-bg-nav: #ffffff60;
  --clr-bg-nav-scroll: #fff;

  --text-heading: clamp(2rem, 3.5vw, 4rem);
  --text-normal: 18px;

  --weight-light: 400;
  --weight-normal: 500;
  --weight-bold: 600;
}

* {
  background-color: transparent;
}
img {
  width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
Image,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
  background: #fff;
  /* box-sizing: border-box; */
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
